@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
}

:root {
  --primary-color: #272a31;
  --secondary-color: #ec5242;
  --main-bg-color: #d3d3d3;
}

body {
  background-color: var(--main-bg-color);
  font-family: "Lato", sans-serif;
  overflow-x: unset;
}

/* defualt style for all `a` tags */
a {
  text-decoration: none;
}

/* header content  */

/* top nav section */
.top-nav {
  display: none;
  background-color: var(--primary-color);
}

.top-nav-links {
  list-style: none;
  color: white;
  display: flex;
  gap: 20px;
  justify-content: end;
  margin-right: 15%;
}

/* categories description on hover */
.category-description > a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.see-events > a {
  color: white;
  text-decoration: underline;
}

.top-nav-links > li > a {
  color: #fff;
  display: inline-block;
  margin: 10px 0 10px;
  cursor: pointer;
}

#sign-in-btn1 {
  border: 1px solid white;
  border-radius: 5px;
  padding: 3px;
}

.sign-up-in-option-btn {
  color: blue;
  cursor: pointer;
  font-size: 20px;
}

/* main nav section */
nav {
  background-color: #fff;
}

.logo-menu-icon-container {
  background-color: #fff;
  width: 100%;
  height: 70px;
}

/* mobile menu icon */
.menu-icon {
  position: absolute;
  top: 10px;
  right: 5%;
  width: 30px;
  font-size: 40px;
  cursor: pointer;
}

.mobile-menu {
  position: absolute;
  display: none;
  width: 220px;
  margin-right: -220px;
  top: 70px;
  right: 0;
  padding: 0;
  background-color: var(--primary-color);
  transition: 1s;
}

.menu-list {
  display: block;
  list-style: none;
  margin: 20px auto;
  margin-left: -40px;
}

.menu-list > li {
  padding: 10px;
}

.menu-list > li > a {
  color: #fff;
}

.menu-show {
  margin-right: 0;
  display: block;
}

.logo {
  position: absolute;
  top: 10px;
  left: 6%;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.logo > img {
  width: 60px;
  margin-top: 0;
  border-radius: 50%;
}

.global-text {
  position: relative;
  color: var(--secondary-color);
  top: -30px;
}

.events-text {
  position: relative;
  left: -60px;
  top: -7px;
  color: var(--primary-color);
}

.main-nav-links {
  display: none;
  list-style: none;
  justify-content: end;
  gap: 5%;
  margin-right: 15%;
  padding: 20px;
}

.main-nav-links > li {
  font-weight: bold;
  font-size: 17px;
}

.main-nav-links > li > a {
  color: var(--primary-color);
}

.category-description > a:hover {
  text-decoration: underline;
}

.main-nav-links > li > a:hover {
  color: var(--secondary-color);
}

.menu-list > li:hover {
  background-color: #46484e;
  border-left: 4px solid var(--secondary-color);
}

.menu-list > li > a:hover {
  color: var(--secondary-color);
}

.nav-active {
  color: var(--secondary-color);
}

.header-bg-img {
  width: 100%;
  height: 300px;
  background: blue;
  background-image: url("../images/new_statesman_events.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* header section ends here */

/* page description section  */
.page-description-content {
  width: 95%;
  margin: 10px auto;
}

.welcome-message {
  color: var(--secondary-color);
  font-size: 30px;
}

.slogan {
  position: relative;
  font-weight: 700;
  max-width: 800px;
  margin-top: 10px;
  color: var(--secondary-color);
  font-size: 30px;
  background-image:
    linear-gradient(
      -225deg,
      #ec5242 0%,
      #44107a 29%,
      #ec5242 67%,
      #ec5242 100%
    );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page-description {
  max-width: 850px;
  margin-top: 20px;
  margin-left: 0;
  font-size: 20px;
  border-style: outset;
  color: var(--primary-color);
  line-height: 35px;
  word-spacing: 5px;
  background-color: #c9c4c4;
  padding: 10px;
}

/* one trending event */
.trending-event-container {
  margin-left: 2.5%;
}

.trending-event-container > h2 {
  color: var(--secondary-color);
}

.trending-event-container > .topic {
  color: var(--primary-color);
  font-size: 25px;
  font-weight: 600;
  margin: 10px 0;
  font-style: italic;
}

.trending-event-container > .date {
  color: #3a3d42;
  font-size: 20px;
  word-spacing: 7px;
}

/* events categories container */
.events-categories-container {
  background-color: var(--primary-color);
  margin-top: 50px;
  padding: 20px;
}

.events-categories-container > h3 {
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin: 30px auto;
  text-align: center;
}

.event-categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, auto));
  gap: 20px;
}

.category {
  background-color: #383941;
  cursor: pointer;
}

.category-icon {
  color: white;
  font-size: 70px;
  font-weight: 900;
  text-align: center;
}

.category-name {
  color: var(--secondary-color);
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.category-description {
  color: #fff;
  text-align: center;
  max-width: 300px;
  margin: 15px auto;
}

.active-category {
  border: 3px solid #fff;
}

.see-events {
  text-align: center;
  margin: 40px auto;
  font-size: 25px;
  font-weight: 600;
  word-spacing: 7px;
}

/* events-category-section */

/* .events-category-section{
    background-color: white;
} */
.events-parent-container {
  display: none;
}

.category-events-container {
  display: grid;
  width: 92%;
  margin: 50px auto;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.an-event-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1.2fr 1.8fr;
}

h4 {
  text-align: center;
  font-size: 25px;
  margin-top: 30px;
  color: var(--secondary-color);
}

.event-date {
  color: #383941;
  font-size: 18px;
}

.event-topic {
  color: var(--secondary-color);
  font-size: 15px;
  margin: 5px auto;
  cursor: pointer;
}

.event-topic:hover {
  text-decoration: underline;
}

.event-location {
  font-size: 15px;
  font-style: italic;
  font-weight: 600;
  color: var(--primary-color);
}

.event-info {
  font-size: 16px;
  margin-top: 7px;
  margin-bottom: 5px;
}

.event-tags {
  font-size: 14px;
  color: var(--primary-color);
  font-weight: 900;
  margin-bottom: 5px;
}

.host-image {
  width: 100%;
  height: 150px;
  cursor: pointer;
}

.host-interested-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.host-interested-container > div > button {
  color: var(--secondary-color);
  font-size: 17px;
  cursor: pointer;
}

.active {
  display: block;
}

/* footer section */
.other-categories-section {
  background-color: var(--primary-color);
}

h6 {
  text-align: center;
  font-size: 30px;
  padding-top: 50px;
  color: white;
  opacity: 0.7;
}

.horizontal-line {
  width: 7%;
  height: 3px;
  margin: 30px auto;
  background-color: var(--secondary-color);
  border-radius: 3px;
}

.other-categories-container {
  display: grid;
  text-align: center;
  margin: auto auto;
  width: 80%;
  grid-gap: 30px;
  grid-template-columns: 1fr;
  align-items: baseline;
  cursor: pointer;
  padding-bottom: 50px;
}

.jokes,
.history {
  font-size: 30px;
  color: #fff;
  opacity: 0.7;
  font-weight: bold;
}

.history {
  color: #a59d9d;
}

.presentations,
.fitness {
  font-size: 20px;
  color: #a59d9d;
  font-weight: 500;
}

.funny {
  color: #fff;
  font-size: 30px;
  font-weight: 800;
  opacity: 0.6;
}

.main-footer-container {
  display: grid;
  align-items: baseline;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: 50px auto;
}

.copy-right-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  color: var(--primary-color);
  font-weight: 500;
}

.footet-logo-container {
  position: relative;
  align-self: center;
}

.footet-logo-container > .logo > img {
  opacity: 0;
}

/* About page css here */
.about-section > h2 {
  color: var(--secondary-color);
  margin: 50px auto;
  text-align: center;
  line-height: 1cm;
}

.about-section > p {
  text-align: center;
  max-width: 700px;
  padding: 30px;
  font-size: 17px;
  border-style: outset;
  background-color: rgb(201, 194, 194);
  margin: 0 auto 50px;
}

.about-section > div {
  text-align: center;
  margin-bottom: 50px;
}

.recent-event-section {
  background-color: rgb(190, 190, 190);
}

.recent-event-section > h3 {
  color: var(--primary-color);
  text-align: center;
  font-size: 30px;
  padding-top: 50px;
}

.recent-event-section > p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 50px;
}

.recents-events-container {
  display: grid;
  grid-gap: 20px;
  width: 70%;
  margin: 50px auto 0;
  padding-bottom: 50px;
  grid-template-columns: 1fr;
}

iframe {
  height: 300px;
  width: 100%;
}

.about-page-main-footer {
  font-size: 22px;
  margin: 20px auto;
  text-align: center;
}

/* sign in and sign up modal style */

/* Full-width input fields */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Extra styles for the cancel button */
.cancel-btn {
  width: auto;
  padding: 5px 10px;
  color: var(--secondary-color);
  font-size: auto;
  border-radius: 3px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.container {
  padding: 16px;
}

.form-buttom-container {
  background-color: var(--main-bg-color);
}

.error-message {
  color: red;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

span.psw {
  float: right;
  padding-top: 5px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content > h2 {
  text-align: center;
  color: var(--secondary-color);
  margin-top: 20px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 90%;
}

/* The Close Button (x) */
.modal-close-btn {
  position: relative;
  right: 25px;
  float: right;
  color: #000;
  font-size: 35px;
  font-weight: 900;
  cursor: pointer;
}

.form-submit-btn {
  font-size: 22px;
  font-weight: bold;
  width: 40%;
  margin: 20px 30%;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 20px auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}

.form-submit-btn:hover {
  font-size: 25px;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@media screen and (min-width: 768px) {
  .top-nav {
    display: block;
  }

  .main-nav-links {
    display: flex;
  }

  .logo-menu-icon-container {
    width: 0;
    height: 0;
  }

  .menu-icon {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .logo {
    top: auto;
    font-size: 25px;
  }

  .events-text {
    left: -70px;
  }

  .logo > img {
    width: 70px;
  }

  .page-description-content {
    width: 80%;
    margin: 10px auto;
  }

  .slogan {
    font-size: 40px;
    font-weight: 900;
  }

  .trending-event-container {
    margin-left: 10%;
  }

  .event-categories {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .category-events-container {
    grid-template-columns: 1fr 1fr;
  }

  .host-interested-container {
    grid-template-columns: auto auto;
  }

  .host-image {
    height: 210px;
  }

  .other-categories-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .main-footer-container {
    width: 80%;
  }

  .footet-logo-container > .logo > img {
    opacity: 1;
  }

  /* about page style on destop version */
  .recents-events-container {
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
  }

  .modal-content {
    width: 55%;
  }

  .cancel-btn {
    padding: 10px 18px;
    font-size: 20px;
    border-radius: 10px;
  }

  span.psw {
    float: right;
    padding-top: 16px;
  }
}
